<h1>Обновить вакансию</h1>
<div>
  <div style="float:left;">
    <%= link_to "Назад", vacancy_path(@vacancy), class: "btn btn-primary" %>
  </div>
  <div style="float:right;">
    <%= link_to "Вакансии", vacancies_path, class: "btn btn-default" %>
  </div>
</div>
<div style="clear: both;padding-top: 20px;">
  <%= form_tag vacancies_path do %>
    <div style="padding:10px 0;">
      Название:
      <%= text_field_tag :name, @vacancy.name, style: "width:100%;" %>
    </div>
    <div style="padding:10px 0;">
      Доступна до:
      <%= datetime_select :validity, @vacancy.validity, style: "width:100%;" %>
    </div>
    <div style="padding:10px 0;">
      Заработная плата в рублях:
      <%= number_field_tag :price, @vacancy.price, style: "width:100%;" %>
    </div>
    <div style="padding:10px 0;">
      Контактная информация:
      <%= text_area_tag :contacts, @vacancy.contacts, style: "width:100%;resize:vertical;" %>
    </div>

    <div style="padding:10px 0;">
      Скилы:
      <%#= f.select(:skills, options_for_select(Skill.all.map{|s| [s.name, s.id]}), {}, {multiple: true, class: "skills", style: "width:100%;"}) %>
      <%= select_tag :skills, options_from_collection_for_select(Skill.all, "id", "name", @vacancy.skill_ids), class: "skills", multiple: true, style: "width:100%;" %>
    </div>

    <div style="padding:10px 0;"><%= submit_tag "Обновить", class: "btn btn-primary" %></div>
  <% end %>
</div>
