<h1>Обновить резюме</h1>
<div>
  <div style="float:left;">
    <%= link_to "Назад", resume_path(@resume), class: "btn btn-primary" %>
  </div>
  <div style="float:right;">
    <%= link_to "Резюме", resumes_path, class: "btn btn-default" %>
  </div>
</div>
<div style="clear: both;padding-top: 20px;">
  <%= form_tag resumes_path do %>
    <div style="padding:10px 0;">
      ФИО:
      <%= text_field_tag :name, @resume.name, style: "width:100%;" %>
    </div>
    <div style="padding:10px 0;">
      Статус:
      <%= select_tag :status, options_for_select(["Работаю", "Не работаю"], @resume.status), style: "width:100%;" %>
    </div>
    <div style="padding:10px 0;">
      Телефон:
      <%= number_field_tag :phone, @resume.phone, style: "width:100%;" %>
    </div>
    <div style="padding:10px 0;">
      Электронная почта:
      <%= text_field_tag :email, @resume.email, style: "width:100%;" %>
    </div>
    <div style="padding:10px 0;">
      Заработная плата в рублях:
      <%= number_field_tag :price, @resume.price, style: "width:100%;" %>
    </div>

    <div style="padding:10px 0;">
      Скилы:
      <%#= f.select(:skills, options_for_select(Skill.all.map{|s| [s.name, s.id]}), {}, {multiple: true, class: "skills", style: "width:100%;"}) %>
      <%= select_tag :skills, options_from_collection_for_select(Skill.all, "id", "name", @resume.skill_ids), class: "skills", multiple: true, style: "width:100%;" %>
    </div>

    <div style="padding:10px 0;"><%= submit_tag "Обновить", class: "btn btn-primary" %></div>
  <% end %>
</div>
