<h1>Резюме</h1>
<div>
  <div style="float:left;">
    <%= link_to "Новое резюме", new_resume_path, class: "btn btn-primary" %>
  </div>
  <div style="float:right;">
    <%= link_to "Вакансии", vacancies_path, class: "btn btn-default" %>
  </div>
</div>
<div style="clear: both;padding-top: 20px;">
  <table>
    <tr>
      <td>ФИО</td>
      <td>Телефон</td>
      <td>Электронная почта</td>
      <td>Заработная плата</td>
      <td>Статус</td>
    </tr>
    <% @resumes.each do |resume| %>
      <tr>
        <td>
          <%= link_to resume.name, resume %>
        </td>
        <td>
          <%= resume.phone %>
        </td>
        <td>
          <%= resume.email %>
        </td>
        <td>
          <span><%= resume.price %> руб.</span>
        </td>
        <td>
          <%= resume.status %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
